* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  /* colors */
  --very-dark-blue: #1b1d23;
  --dark-grey: #60636d;
  --medium-grey: #7d828f;
  --light-grey: #c8ccd8;
  --very-light-grey: #eeeff4;
  --errors: #df5656;
}

html {
  font-size: 0.9375rem;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-league-spartans);
}
